*,
html,
body {
  margin: 0px;
  font-family: "crimson", serif;
  font-family: "Roboto Slab", serif;
}

.intro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url("../assets/bg1.jpg");
  color: snow;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

.buttonSatu {
  margin-top: 70px;
}

.bio {
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 20px;
  border-top: 1px solid grey;
}

.formulir {
  border: 1px solid gray;
  height: 340px;
}

.kontakText {
  text-align: center;
}

.button {
  text-align: center;
  margin-left: 160px;
}

.footer {
  background-color: black;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
